*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.swiper-wrapper{
  display: flex;
  flex-direction: row;
  position: absolute;
}
.swiper-slide{
  width: 100px;
  height: 100px;
  background-color: rgb(70, 70, 121);
  margin: 15px;
}